<div class="flex-column w-9">
    <div class="flex-row justify-end align-center">
        <input type="hidden" name="attr_lifeblood_1" class="lifebox"></input>
        <button type="action" name="act_lifeblood_1">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_2" class="lifebox"></input>
        <button type="action" name="act_lifeblood_2">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_3" class="lifebox"></input>
        <button type="action" name="act_lifeblood_3">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_4" class="lifebox"></input>
        <button type="action" name="act_lifeblood_4">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_5" class="lifebox"></input>
        <button type="action" name="act_lifeblood_5">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_6" class="lifebox"></input>
        <button type="action" name="act_lifeblood_6">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_7" class="lifebox"></input>
        <button type="action" name="act_lifeblood_7">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_8" class="lifebox"></input>
        <button type="action" name="act_lifeblood_8">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_9" class="lifebox"></input>
        <button type="action" name="act_lifeblood_9">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_10" class="lifebox"></input>
        <button type="action" name="act_lifeblood_10">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_11" class="lifebox"></input>
        <button type="action" name="act_lifeblood_11">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_12" class="lifebox"></input>
        <button type="action" name="act_lifeblood_12">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_13" class="lifebox"></input>
        <button type="action" name="act_lifeblood_13">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_14" class="lifebox"></input>
        <button type="action" name="act_lifeblood_14">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_15" class="lifebox"></input>
        <button type="action" name="act_lifeblood_15">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_16" class="lifebox"></input>
        <button type="action" name="act_lifeblood_16">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_17" class="lifebox"></input>
        <button type="action" name="act_lifeblood_17">&nbsp;</button>
        <input type="hidden" name="attr_lifeblood_18" class="lifebox"></input>
        <button type="action" name="act_lifeblood_18">&nbsp;</button>
    </div>
    <div class="flex-row justify-end align-center">
        <label class="label right"><span data-i18n="resources.critical">Critical</span></label>
        <input type="checkbox" name="attr_lifeblood_critical_1"></input>
        <input type="checkbox" name="attr_lifeblood_critical_2"></input>
        <input type="checkbox" name="attr_lifeblood_critical_3"></input>
        <input type="checkbox" name="attr_lifeblood_critical_4"></input>
        <input type="checkbox" name="attr_lifeblood_critical_5"></input>
    </div>
</div>